<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styleSheetAllResultsPage.css" />
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
</head>
<body>
<div class="logo">
    <img src="/Assets/logo.jpeg" width="240px" height="35px">
</div>
<div class="content-wrapper">
    <img src="/Assets/background.jpeg">
    <div class="mainHeading">
        <h3> List of Clients </h3>
    </div>

    <div class="tableContainer">
        <table style="overflow: auto;" class="content-table">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${clients}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.name}">Client Name</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>