<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Field Update</title>
</head>
<body>

<h3><a th:href = "@{/viewproject}">Project Fields</a></h3>
<h3><a th:href = "@{/viewresult}">Result Fields</a></h3>
<h3><a th:href = "@{/viewimpact}">Impacts Fields</a></h3>
<h3><a th:href = "@{/viewtask}">Task Fields</a></h3>
<h3><a th:href = "@{/viewdonor}">Donors Fields</a></h3>
<h3><a th:href = "@{/viewcontribution}">Contribution Fields</a></h3>

</body>
</html>