<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update project row</title>
</head>
<body>
<form th:action="@{/projUpdate}" th:object="${project}" method="post">
    <input type="hidden" name="id" th:value="${project.id}">
    <input type = "text" name="fieldname" th:value="${project.fieldname}" />
    <input type="text" name="fieldtype" th:value="${project.fieldtype}">
    <input type="text" name="fieldlimit" th:value="${project.fieldlimit}">
    <button type="submit">Update</button>
</form>
</body>
</html>