<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styleSheetAllResultsPage.css" />
<head>
    <meta charset="UTF-8">
    <title>Result results</title>
</head>
<body>
<div class="logo">
    <img src="/Assets/logo.jpeg" width="240px" height="35px">
</div>
<div class="content-wrapper">
    <img src="/Assets/background.jpeg">
    <div class="mainHeading">
        <h3> Results page</h3>
    </div>
    <div class="tableContainer">
        <table style="overflow: auto;" class="content-table">
            <tr>
                <th>Column</th>
                <th>Row</th>
                <th>Description</th>
            </tr>
            <tr th:each="result : ${error}">
                <td th:text="${result.columnName}"></td>
                <td th:text="${result.rowNumber}"></td>
                <td th:text="${result.errorMessage}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>

