<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update result row</title>
</head>
<body>
<form th:action="@{/resultUpdate}" th:object="${result}" method="post">
    <input type="hidden" name="id" th:value="${result.id}">
    <input type ="text" name="fieldname" th:value="${result.fieldname}" />
    <input type="text" name="fieldtype" th:value="${result.fieldtype}">
    <input type="text" name="fieldlimit" th:value="${result.fieldlimit}">
    <button type="submit">Update</button>
</form>
</body>
</html>