<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result Task</title>
</head>
<body>
<h3> Project task page</h3>

<table>
    <tr>
        <th>Column</th>
        <th>Row</th>
        <th>Description</th>
    </tr>
    <tr th:each="task : ${error}">
        <td th:text="${task.columnName}"></td>
        <td th:text="${task.rowNumber}"></td>
        <td th:text="${task.errorMessage}"></td>
    </tr>
    </table>
<!--pragun to add return to upload file page button-->
</body>
</html>