<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ID check</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <p>
            Welcome
        </p>
        <input type="submit" value="Sign Out" />
    </form>
</div>

    <form th:action="@{/upload/lookup}" method="post" enctype="multipart/form-data">
        <div>
            <label>ID Check File: </label>
            <input type="file" name="lookupfile" accept=".xls,.xlsx" >
        </div>
        <div><input type="submit" value="Upload"/></div>
    </form>
    <div>
        <!--pragun to add form for all the workbooks, refer FileUploadController for mapping-->
    <form th:action="@{/upload/project}" method="post" enctype="multipart/form-data">
        <div>
            <label>Project File: </label>
            <input type="file" name="project" accept=".xls,.xlsx" >
            <input type="submit" value="Upload"/>
            <label><a th:href="@{/result/project}">Results</a></label>
        </div>
    </form>

    <form th:action="@{/upload/result}" method="post" enctype="multipart/form-data">
        <div>
            <label>Result File: </label>
            <input type="file" name="result" accept=".xls,.xlsx" >
            <input type="submit" value="Upload"/>
            <label><a th:href="@{/result/results}">Results</a></label>
        </div>
    </form>

    <form th:action="@{/upload/impact}" method="post" enctype="multipart/form-data">
        <div>
            <label>Impact File: </label>
            <input type="file" name="impact" accept=".xls,.xlsx" >
            <input type="submit" value="Upload"/>
            <label><a th:href="@{/result/impact}">Results</a></label>
        </div>
    </form>

    </div>
<!--pragun to add error messages if file upload not successful-->
</body>
</html>