<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <table>
      <tr>
        <th>Column Name</th>
        <th>Field Type</th>
        <th>Limit</th>
        <th></th>
      </tr>
      <tr th:each="res : ${result}">
          <td th:text="${res.fieldname}"></td>
          <td th:text="${res.fieldtype}"></td>
          <td th:text="${res.fieldlimit}"></td>
          <td>
              <form th:action="@{/update/resultfields}" th:object="${result}" method="post">
                  <input type="hidden" name="id" th:value="${res.id}">
                  <input type="hidden" name="fieldname" th:value="${res.fieldname}">
                  <input type="hidden" name="fieldtype" th:value="${res.fieldtype}">
                  <input type="hidden" name="fieldlimit" th:value="${res.fieldlimit}">
                  <button type="submit">Update</button>
              </form>
          </td>
      </tr>
    </table>
</body>
</html>